


/*Incio*/
body{
  background-color: #eff5fe;;
}

.btr {

  border-top-right-radius: 5px !important;
}


.btl {

  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #148F95;
  border-color: #148F95;
}


.btn-dark:hover {
  color: #fff;
  background-color: #148F95;
  border-color: #148F95;
}

.changecolor {
  color: #F85E34;
}


.nav-pills {

  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #F85E34;

}

.nav-item {
  display: table-cell;
  background: #F85E34;
}


.form {

  padding: 10px;
  height: 300px;
}

.form input {

  margin-bottom: 12px;
  border-radius: 3px;
}


.form input:focus {

  box-shadow: none;
  border-color: #148F95;
}


.form button {

  margin-top: 20px;
}

.grid {
  display:grid;
  grid-template-columns:50% 50%;
  margin:20px;
  flex-wrap:wrap;
}

.gridimage {
max-width: 100%;
}


/*Formulario de registro*/
body{

  background-color:#fff;
}
.table{
  color: white;
  background-color: #148F95;   
}

.btr{

  border-top-right-radius: 5px !important;
}

.btl{

  border-top-left-radius: 5px !important;
}

.btn-dark {
    color: #fff;
    background-color: #F85E34;
    border-color: #F85E34;
}


.btn-dark:hover {
    color: #fff;
    background-color: #148F95;
    border-color: #148F95;
}

.changecolor {
  color: #F85E34;
}

.form{

  padding: 10px;
      height: 300px;
}

.form input{

  margin-bottom: 12px;
  border-radius: 3px;
}
.form input:focus{

  box-shadow: none;
  border-color: #148F95;
}

.form button{
  margin-top: 20px;
}

/*Crear Mensaje*/

.nav-link {
  font-size: 17px;
  font-weight: normal;
  text-decoration: none
}

.tab-pane{
  font-size: 15px;
  font-weight: normal;
  text-decoration: none
  
}



/*Perfil*/
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
