<!DOCTYPE html>
 <html lang="en">
 <head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.ico') }}" />
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Enviar Mensaje</title>
 
   <!-- Google Font: Source Sans Pro -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
   <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/jqvmap/jqvmap.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/daterangepicker/daterangepicker.css">
   <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/style.css') }}">
 </head>
 <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{{ url_for('static', filename='/images/Logofull.png') }}" alt="Logo" height="100" width="100">
      </div>
      <body style="background-color:#148F95;"></body>
      <div class="">  
        <section class="content">
          <div class="container">
             <div class="contariner alert alert-light" role="alert"><!--Cambio de ancho del contenedor-->
                  <nav class="navbar navbar-expand-lg"> 
                    <a class="navbar-brand" href="#">
                     <img src="{{ url_for('static', filename='/images/LogoH.png') }}" width="250px" class="d-inline-block align-top" alt="">
                    </a>
                    <ul class="navbar-nav ml-auto" role="navigation">
                      <li class="nav-item1">
                       <a class="nav-link active" style="color: #148F95"ref="#tab_1" data-toggle="tab">Envío de Mensajes</span></a>
                      </li>
                      <li class="nav-item1" onclick="verHistorial()">
                       <a class="nav-link" style="color: #148F95" href="#tab_2" data-toggle="tab">Historial</a>
                      </li>
                      <li class="nav-item1">
                        <a class="nav-link" style="color: #148F95" href="#tab_3" data-toggle="tab">Perfil</a>
                      </li> 
                      <li class="nav-item1">
                        <a class="nav-link" style="color: #148F95" href="/" data-toggle="tab">Cerrar Sesión</a>
                      </li> 
                    </ul>
                  </nav>  
              </div>
              <div class="border-bottom">
               <div class="row">
                  <div class="col-12"> 
                    <div class="card">
                      <h2 class="m-4 ml-4" style="color: #F85E34">¡Hola {{usuario[0].nombres}} {{usuario[0].apellidos}}!</h2>
                      <div class="card-header d-flex p-0">
                      </div><!-- /.card-header -->

                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          <form onsubmit="return enviarCorreo()">
                            <label for="exampleFormControlInput1" class="form-label" style="color: #148F95">Asunto</label>
                            <input type="text" required class='form-control' id="txtAsuntoMSN" name="txtAsuntoMSN"> 
                            <hr>
                            <label for="exampleFormControlInput1" class="form-label" style="color: #148F95">Seleccione el empleado</label>
                            <select id="sl_destinoMSN" name="sl_destinoMSN" class="form-control" required> 
                              <option value="">...</option>
                              {%for d in data %}
                              <option value="{{d['correo']}}">{{d['nombres']}} {{d['apellidos']}}</option>
                               {%endfor%}
                             </select>
                            <hr>
                            <label for="exampleFormControlInput1" class="form-label" style="color: #148F95">Mensaje</label>
                            <textarea class="form-control" required placeholder="Escriba su mensaje ..." id="txtMSN" name="txtMSN"></textarea>
                            <hr>
                            <center>
                              <button type='submit' class='btn btn-info'>Enviar</button>
                              <button type='reset' class='btn btn-danger'>Cancelar</button>
                            </center>
                          </form>
                        </div>

                        <div class="tab-pane" id="tab_2">
                        <div class="col-12">
                           <div id="email_enviados" name="email_enviados">Mensajes Enviados</div>
                           <div id="email_recibidos" name="email_recibidos">Mensajes Recibios</div>
                        </div>
                     </div>
                     <!-- /.tab-pane -->
                     <div class="tab-pane" id="tab_3">
                        <div class="container">
                          <div class="main-body">
                            <div class="row gutters-sm">
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                      <div class="mt-3">
                                        <h4>Ximena Martinez Huerto</h4>
                                        <p class="text-secondary mb-1">Servicio al Cliente</p>
                                        <p class="text-muted font-size-sm">Área de Marketing</p>
                                        <a href="ActContraseña"><button class="btn btn-primary">Cambiar Contraseña</button></a>
                                        <button class="btn btn-outline-primary">Mensajes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-8">
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0">Nombre Completo</h6>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                        Ximena Martinez Huerto
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                        machellseb123@gmail.com
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0">ID Empleado</h6>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                        198376
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0">Fecha de nacimiento</h6>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                        10 de Mayo de 1988
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0">Dirección</h6>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                        Calle 23 # 11 - 50 Granada Meta
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                     <!-- /.tab-pane -->
                   </div>
                   <!-- /.tab-content -->
                 </div><!-- /.card-body -->
               </div>
               <!-- ./card -->
              </div>
             <!-- /.col -->
            </div>
          </div>
 
           
         <!-- /.row (main row) -->
       </div><!-- /.container-fluid -->
     </section>
     <!-- /.content -->
   </div>
  
 
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
  </body>
 <!-- ./wrapper -->
 
 <!-- jQuery -->
 <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/jquery-ui/jquery-ui.min.js"></script>
 
 <!-- Bootstrap 4 -->
 <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/chart.js/Chart.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/sparklines/sparkline.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/jqvmap/jquery.vmap.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/jquery-knob/jquery.knob.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/moment/moment.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/daterangepicker/daterangepicker.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.js"></script>
 <script src="https://adminlte.io/themes/v3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
 <script src="https://adminlte.io/themes/v3/dist/js/adminlte.js"></script>
 <script src="https://adminlte.io/themes/v3/dist/js/pages/dashboard.js"></script>
 
 <script>
 
 function CambioContraseña(){
   if ($("#txtnewpass").val()==$("#txtnewpassc").val()){
       $.ajax({
         url : 'ActContraseña',
         data : "Pass="+$("#txtnewpass").val(),
         type : 'POST',
         success : function(r){
             alert(r);        
         },
         error : function(xhr, status) {
           alert('Error intente en otro momento');
         }
     });
 
   }
   else{
     alert("Error! al confirmar las contraseñas, las contraseñas ingresadas no coinciden, por favor verifiquelas.");
   }
 
   return false;  
 }
 
 function verHistorial(){
   $.ajax({
     url : 'HistorialMSNEnviados',
     data : "",
     type : 'POST',
     success : function(r){
         r="<center class='alert alert-info'><strong>Bandeja de Mensajes Enviados </strong></center>"+r;
         $("#email_enviados").html(r);        
     },
     error : function(xhr, status) {
       alert('Error intente en otro momento');
     }
   });
 
   $.ajax({
     url : 'HistorialMSNRecibidos',
     data : "",
     type : 'POST',
     success : function(r){
         r="<center class='alert alert-info'><strong>Bandeja de Mensajes Recibidos</strong></center>"+r;
         $("#email_recibidos").html(r);        
     },
     error : function(xhr, status) {
       alert('Error intente en otro momento');
     }
   });
   return false;
 }
 
 function enviarCorreo(){
   $.ajax({
     url : 'enviarCorreo',
     data : "Asunto="+$("#txtAsuntoMSN").val()+"&CorreoDestino="+$("#sl_destinoMSN").val()+"&Mensaje="+$("#txtMSN").val(),
     type : 'POST',
     success : function(r){
         alert(r);        
     },
     error : function(xhr, status) {
       alert('Error intente en otro momento');
     }
   });
 return false;
 }
 
 </script>
 
 </body>
 </html>