<!doctype html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.ico') }}" />
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Login MSN TEAM CORP</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='#' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/style.css') }}">
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>

<body className='snippet-body'>
  <br>
  <div class="grid">

    <div>
      <img class="gridimage" src="{{ url_for('static', filename='/images/Wellcome.jpg') }}" width="800">
    </div>

    <div>
      <br>
      <center><p class="changecolor"><img class="gridimage" src="{{ url_for('static', filename='/images/Logofull.png') }}" width="300"></p></center>
      <br>
      <center style="color: #F85e34"><h3><strong>Ingrese a su cuenta</strong></h3></center>
      <br>
      <br>
      <div class="form px-4 pt-5">

        <form action="VerificarUsuario" method="POST">
          
          <input type="email" required name="txtemaillogin" id='txtemaillogin' class="form-control" placeholder="Email">
          <br>
          <input type="password" required name="txtpass" id="txtpass" class="form-control" placeholder="Password">

          <br>
          <button type="submit" class="btn btn-dark btn-block">Iniciar Sesión</button>
        </form>
        <br>
        <center><label for="#">¿Olvidó su contraseña? <a class="changecolor" href="ResContrasena">Restaura tu contraseña</a></label></center>
      </div>
      <br>
      <center><label for="#">¿No tienes una cuenta? <a class="changecolor"
            href="RegistrarUsuario">Regístrese</a></label></center>
      <br>
      <br>
      <br>
      <br>
      <small>
        <p align="right">Elaborado por Equipo14 NRC 2109 <img
            src="{{ url_for('static', filename='/images/U_logo.jpg') }}" width="120"></p>
      </small>
    </div>
  </div>
  <script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>

</body>

</html>