<div class="m-4 ml-4 mb-4"</div>
<table width="1200px" height="20px" class="table table-hover table-bordered" id="msnrec" name="msnrec">
 <thead>
     <tr class=bg-info alight="center">
            <th scope=>Fecha</th>
            <th scope=>Hora</th>
            <th scope=>Remitente</th>
            <th scope=>Asunto</th>
            <th scope=>Mensaje</th>
     </tr>
 <thead>
    <tbody>
        {%for d in data %}
        <tr  alight="center">
         <td>{{d['fecha']}}</td>
         <td>{{d['hora']}}</td>
         <td>{{d['nombres']}} {{d['apellidos']}}</td>
         <td>{{d['asunto']}}</td>
         <td>{{d['mensaje']}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>
